<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Zadaca1RPR.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=80.65.65.66:1521/etflab.db.lab.etf.unsa.ba;PASSWORD=B5JGMk8u;USER ID=VF17336"
        providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>